<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Webpage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/vis/3.12.0/vis.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/vis/3.12.0/vis.min.js"></script>
</head>

<body onload="draw()">
<div class="container">
    <div class="jumbotron" style="background-color: #5e005e">
        <h1 style="color: aliceblue;">FaceBattle</h1>
        <p style="color: azure">Trazendo ordem ao caos das discussões, desde 2015</p>
    </div>

    <style type="text/css">
        body {
          font: 10pt arial;
        }
        #mynetwork {
          width: 100%;
          height: 600px;
          border: 1px solid lightgray;
          background-color:#ffffff;
        }
      </style>

{#  <script type="text/javascript" src="vis.min.js"></script>#}

{#  <link href="vis.min.css" rel="stylesheet" type="text/css" />#}


  <script type="text/javascript">
    var DIR = 'img/soft-scraps-icons/';

    var nodes = null;
    var edges = null;
    var network = null;

    // Called when the Visualization API is loaded.
    function draw() {
      // create people.
      // value corresponds with the age of the person

      nodes = [

          {% for person_id in all_important_people_ids%}
               {%if people_list[person_id].group_number != None %}
              { id: {{ person_id|e }}, label: "{{ people_list[person_id].name|e }}" ,shape: 'circularImage', value: {{ all_important_people_weights[loop.index0]|e }} , image : "http://graph.facebook.com/{{people_list[person_id].id}}/picture?width=50&height=50",
                  group:{{ people_list[person_id].group_number|e }} },
              {% endif %}
          {% endfor %}
      ];

      // create connetions between people
      // value corresponds with the amount of contact between two people
      edges = [
        {% for i in all_important_people_ids %}
          {% for j in all_important_people_ids %}
          {%if adj_matrix[i][j] > 0.03 and i < j and people_list[i].group_number != None and people_list[j].group_number != None%}
            {from: {{ i }}, to: {{ j }} },
          {% endif %}{% endfor %}{% endfor %}
      ];

      // create a network
      var container = document.getElementById('mynetwork');
      var data = {
        nodes: nodes,
        edges: edges
      };
      var options = {
          groups: {
              1 : {
                color: 'red'
              },
              2: {
                color: "lightgreen"
              },
              3: {
                color: "blue"
              }
            },
            physics: {
              barnesHut: {

                      damping: 2
                  },
            },
        nodes: {
          borderWidth:4,
        color: {
            border: '#222222',
            background: '#666666'
          },
          fontColor:'#000000'
        },
        edges: {
          color: 'lightgray'
        }
      };
      network = new vis.Network(container, data, options);
    }
  </script>

{#    <div id="info"></div>#}

    <div class="row">
        <div class="col-md-12"><h2 class="page-header">A treta original</h2>
        </div>
        <!--<div class="media-left media-top">-->
        <div class="col-xs-2 col-md-2 text-center">
            <a href="http://facebook.com/{{post.owner.id}}">
                <img class="img-circle" src="http://graph.facebook.com/{{post.owner.id}}/picture?width=200&height=200" alt="profile picture" width="100%">
            </a>
        </div>
        {%if post.image_url%}
        <div class="col-xs-7 col-md-7">
            <h4 class="media-heading"> {{post.owner.name}} - <b>{{post.like_count}} Likes - {{post.comment_count}} Comentarios</b></h4>
            {{post.message}}
        </div>
        <div class="col-xs-3 col-centered col-md-3">
            <img class="media-object" src="{{post.image_url}}" alt="post image" width="100%" align="middle">
        </div>
        {%else%}
        <div class="col-xs-10 col-md-10">
            <h4 class="media-heading"> {{post.owner.name}} - <b>{{post.like_count}} Likes - {{post.comment_count}} Comentarios</b></h4>
            {{post.message}}
        </div>
        {%endif%}
    </div>


    <H2 class="page-header">A treta resumida</H2>
    {%if summarized_post%}
    <H3 class="page-header">O post</H3>
    <!--<ul id="summ1">-->
    <!--{% for item in summarized_post %}-->
        <!--<li>{{ item }}</li>-->
    <!--{% endfor %}-->
    <!--</ul>-->
    <p>{{summarized_post}}</p>
    {%endif%}


    <div class="row">
        <div class="col-md-12">
            <H3 class="page-header">Os Maiores Guerreiros</H3>
         </div>
    {% for result in top_commenters %}
        <div class="col-md-4">
            <div class="row">
                <h5 align="center">{{result[0].name}} - {{result[1]}} posts</h5>
            </div>
            <div class="row">
                <center>
                <a href="#">
                    <img class="img-circle"
                         src="http://graph.facebook.com/{{result[0].id}}/picture?width=150&height=150"
                         alt="profile picture"
                            >
                </a>
                </center>
            </div>
        </div>
    {% endfor %}
    </div>


    <div class="row">
        <div class="col-md-12">
            <H3 class="page-header">Mais Importantes</H3>
         </div>

        {% for group in most_important_people %}
            <div class="col-md-4">
            <h4 align="center">Grupo:  {{ group[0].group_number }}</h4>
            <ul class="media-list">
            {% for person in group %}
                <li class="media">
                    <img class="img-circle"
                                 src="http://graph.facebook.com/{{person.id}}/picture?width=100&height=100"
                                 alt="profile picture"
                                    >

                    <div class="media-body">
                        <h5 class="media-heading">{{person.name}} - Grupo: {{ person.group_number }}</h5>
                    </div>

                </li>
            {% endfor %}
            </ul>
            </div>
        {% endfor %}

    </div>

    <div class="row">
        <H3 class="page-header">Frases por grupo</H3>

        {% for comments_from_group in top_comments %}
            <div class="col-md-4">
            <h4 align="center"> {{ loop.index0 }} </h4>
            <ul class="media-list">
            {% for comment in comments_from_group %}
                <li class="media">
                    <img class="img-circle"
                                 src="http://graph.facebook.com/{{comment.owner.id}}/picture?width=100&height=100"
                                 alt="profile picture"
                                    >

                    <div class="media-body">
                        <h5 class="media-heading">{{comment.owner.name}} -- {{ comment.like_count }} Likes</h5>
                        {{ comment.message }}
                    </div>

                </li>
            {% endfor %}
            </ul>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-md-12">
            <H3 class="page-header">As melhores frase</H3>
        </div>

        {% for item in summarized_comments %}
            <div class="col-md-4" style="padding-bottom: 20px">
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                            <img class="img-circle" src="http://graph.facebook.com/{{item.owner.id}}/picture?type=square" alt="profile picture">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">{{item.owner.name}} -- {{item.like_count}} likes</h5>
                        {{item.message}}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-md-12">
            <H3 class="page-header">Imagens!</H3>
        </div>
        {% for image in images %}
                <div class="col-md-4 col-xs-6">
                    <h4>{{image.owner.name}} -{{image.like_count}} Likes </h4>
                    <img height="200" src={{ image.image_URL }}>
                </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-md-4">
            <img src="{{ url_for('fig', post_id = post.id, group_number = 0) }}" alt="Image Placeholder" height="250">
        </div>

        <div class="col-md-4">
            <img src="{{ url_for('fig', post_id = post.id, group_number = 1) }}" alt="Image Placeholder" height="250">
        </div>

        <div class="col-md-4">
            <img src="{{ url_for('fig', post_id = post.id, group_number = 2) }}" alt="Image Placeholder" height="250">
        </div>
    </div>



<div class="row">
    <div id="visualization"></div>
</div>
<div class="row">
    <div id="mynetwork"></div>
</div>
</div>

{{ timeline_script | safe }}

</body>
</html>